body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u612 {
  position:absolute;
  left:6px;
  top:16px;
  width:20px;
  height:16px;
}
#u613 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  position:absolute;
  left:15px;
  top:99px;
  width:57px;
  height:20px;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  position:absolute;
  left:15px;
  top:58px;
  width:43px;
  height:20px;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u618 {
  position:absolute;
  left:58px;
  top:58px;
  width:157px;
  height:22px;
}
#u618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u618_input:disabled {
  color:grayText;
}
#u619 {
  position:absolute;
  left:252px;
  top:58px;
  width:104px;
  height:25px;
}
#u619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u620 {
  position:absolute;
  left:15px;
  top:161px;
  width:789px;
  height:95px;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u622 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u623 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u624 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u625 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u626 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u627 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u628 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u629 {
  position:absolute;
  left:400px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u630 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u631 {
  position:absolute;
  left:560px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u632 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u633 {
  position:absolute;
  left:672px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u634 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u635 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u636 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u637 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u638 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u639 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u640 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u641 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u642 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u643 {
  position:absolute;
  left:400px;
  top:30px;
  width:160px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u644 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u645 {
  position:absolute;
  left:560px;
  top:30px;
  width:112px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u646 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u647 {
  position:absolute;
  left:672px;
  top:30px;
  width:112px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u648 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u649 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u650 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u651 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u652 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u653 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u654 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u655 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u656 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u657 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:30px;
}
#u658 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u659 {
  position:absolute;
  left:560px;
  top:60px;
  width:112px;
  height:30px;
}
#u660 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u661 {
  position:absolute;
  left:672px;
  top:60px;
  width:112px;
  height:30px;
}
#u662 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
